[submodule "classtime-matcher"]
	path = poo/classtime-matcher
	url = https://github.com/0rphee/classtime-matcher.git
[submodule "cmulador"]
	path = pa/cmulador
	url = https://github.com/0rphee/cmulador.git
[submodule "curso-unity"]
	path = curso-unity
	url = https://github.com/0rphee/curso-unity.git
[submodule "ticket-cpp"]
	path = ped/ticket-cpp
	url = https://github.com/0rphee/ticket-cpp.git
[submodule "prop-logic-paevty"]
	path = lpro/prop-logic-paevty
	url = git@github.com:0rphee/prop-logic-paevty.git
