:root {
  --selected-circle-color: darkturquoise;
  --colliding-item-color: cyan;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.botones-container,
.rueda-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.botones-container {
  width: 40%;
  height: 100%;
  flex-direction: column;
  gap: 3rem;
}

.botones-container>button {
  height: 3rem;
  aspect-ratio: 1 / 1;
  border-radius: 8%;
  border: none;

}


.botones-container>button:hover,
.circle:hover {
  box-shadow: 0px 0px 20px var(--selected-circle-color);
  cursor: pointer;
  color: var(--selected-circle-color);
}

.botones-container>button:hover {
  transform: scale(1.1);
}

.botones-container>button,
.circle {
  box-shadow: 0px 0px 15px black;
}

.botones-container>button,
.circle,
body {
  background-image: url("https://besthqwallpapers.com/Uploads/20-7-2020/137659/gray-rock-texture-stone-texture-gray-stone-background-rock-background-natural-stone-texture.jpg");
  background-size: contain;
}

.rueda-container {
  width: 60%;
  height: 100%;
  display: flex;
}

.circle {
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: absolute;
  top: auto;
  left: auto;
  transition: transform 0.25s ease-in-out, border-color 0.25s ease-in-out;
}

.circle.selected {
  border: 0.2em solid var(--selected-circle-color);
}

.circle.selected i {
  color: var(--selected-circle-color);
  /* box-shadow: 0px 0px 15px var(--selected-circle-color); */
  filter: drop-shadow(2px 2px 10px var(--selected-circle-color));
}

.circle i {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  color: black;
}

.circle i.check-pos {
  /* color: red; */
}

.circle i.check-pos.colliding {
  color: var(--colliding-item-color);
  filter: drop-shadow(2px 2px 10px var(--colliding-item-color));
}

#collision-item {
  position: relative;
  left: 0%;
  top: 2.5%;
  height: 5%;
  width: 45%;
  /* background-color: red; */
  transform: translate(-50%, -50%);
  z-index: -1;
}

#c1 {
  background-color: red;
  height: 90%;
}

#c2 {
  background-color: green;
  height: 70%;
}

#c3 {
  background-color: yellow;
  height: 50%;
}

#c4 {
  background-color: orange;
  height: 30%;
}

#c5 {
  background-color: blue;
  height: 10%;
}